<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 

       See http://wiki.ros.org/Clock

       Note: set to false for deploying to a real robot.
  -->
  <arg name="use_sim_time" default="true"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <!-- Rotate the robot on launch -->
  <node pkg="hello_world_robot" type="rotate" name="rotate" output="screen">
    <param name="iot/endpoint/host" value="<iot_end_point>"/>
    <param name="iot/endpoint/port" value="8883"/>
    <param name="iot/certs/root_ca" value="$(find hello_world_robot)/certs/AmazonRootCA1.pem"/>
    <param name="iot/certs/certificate" value="$(find hello_world_robot)/certs/<certificate_file_name>"/>
    <param name="iot/certs/private" value="$(find hello_world_robot)/certs/<private_key_file_name>"/>
    <param name="iot/topic/move" value="robot/move/+"/>
    <param name="iot/topic/location" value="robot/location"/>
    <param name="iot/thing_name" value="iot_robot"/>
    <param name="iot/connection_time_out" value="120"/>
    <param name="iot/qos" value="0"/>
  </node>
</launch>
